name: Docker Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      # gradlew에 실행 권한을 부여하는 단계 추가
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew build -x test

      - name: Build Docker image
        run: docker build -t counter-app:latest .

      - name: List images
        run: docker images

      # docker hub 에 추가
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/counter-app:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/counter-app:latest

      # 여기는 ec2

      - name: Deploy to server
        run: |
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > key.pem
          chmod 600 key.pem
          scp -i key.pem -o StrictHostKeyChecking=no docker-compose.yml ubuntu@43.201.71.63:/home/ubuntu/docker-compose.yml
          scp -i key.pem -o StrictHostKeyChecking=no nginx.conf ubuntu@43.201.71.63:/home/ubuntu/nginx.conf
          ssh -i key.pem -o StrictHostKeyChecking=no ubuntu@43.201.71.63 "
            docker pull ${{ secrets.DOCKER_USERNAME }}/counter-app:latest
            docker-compose down
            docker-compose up -d "  
        
